<footer class="footer bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4">
            <a class="navbar-brand" href="/landingpage">Tourist<span class="text-success">Spot</span></a>
        </div>
        <div class="col-md-4 mb-4">
        <h5>About Us</h5>
          <p style="text-align: justify;">
            TouristSpot is your ultimate destination for unforgettable travel experiences. Discover the world with us and create memories that last a lifetime.
          </p>
        </div>
        <div class="col-md-4 mb-4">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>Phone: +923000000000</li>
            <li>Email: touristspot@gmail.com</li>
            <li>Address: 123 A Street B Town, Lahore, Pakistan</li>
          </ul>
        </div>
      <hr class="bg-light">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">&copy; 2024 TouristSpot. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  