<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muhammad Farooq </title>
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="profile">
                <div class="image">
                   <div class="box"><img src="https://freesvg.org/img/abstract-user-flat-4.png"></div>  
                </div>
            </div>
            <div class="contact">
                <h3 class="title">contact</h3>
                <ul>
                    <li>
                        <span class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                        <span class="text">+923154408544</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </span>
                        <span class="text">muhammadfarooqshk@gmail.com</span>
                    </li>
                    <li>
                        <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i>
                        </span>
                        <span class="text"><a href="https://www.linkedin.com/in/muhammad-farooq-sheikh

                            ">https://www.linkedin.com/in/muhammad-farooq-sheikh</a></span>
                    </li>
                </ul>
            </div>    
            <div class="contact">
                <h3 class="title">Skills</h3>
                
                <div class="progress-container">
                    <div class="language-name">HTML</div>
                    <div id="html" class="progress-bar">
                      <div class="bar">90%</div>
                    </div>
                  </div>
                
                  <div class="progress-container">
                    <div class="language-name">CSS</div>
                    <div id="css" class="progress-bar">
                      <div class="bar">90%</div>
                    </div>
                  </div>
                
                  <div class="progress-container">
                    <div class="language-name">C</div>
                    <div id="javascript" class="progress-bar">
                      <div class="bar">90%</div>
                    </div>
                  </div>
                
                  <div class="progress-container">
                    <div class="language-name">Java</div>
                    <div id="c" class="progress-bar">
                      <div class="bar">90%</div>
                    </div>
                  </div>
                
                  <div class="progress-container">
                    <div class="language-name">Dart</div>
                    <div id="java" class="progress-bar">
                      <div class="bar">85%</div>
                    </div>
                  </div>
                
                  <div class="progress-container">
                    <div class="language-name">Python</div>
                    <div id="python" class="progress-bar">
                      <div class="bar">80%</div>
                    </div>
                  </div>
                
                  <div class="progress-container">
                    <div class="language-name">JavaScript</div>
                    <div id="flutter" class="progress-bar">
                      <div class="bar">80%</div>
                    </div>
                  </div>
            </div>
            <div class="contact">
                <h3 class="title">certifications</h3>
                <p><strong>Information Technology for Beginners</strong></p>
                <p>2019</p>
                <p>The Brains College of Information Technology and Hardware Engineering</p>
                <br>
                <p><strong>Build a Full Website using WordPress</strong></p>
                <p>2023</p>
                <p>Coursera</p>
            </div>
        </div>
        <div class="right">
          <div class="r_container">
            <div class="heading">
              <h1 class="text">
                Muhammad Farooq Sheikh
              </h1>
              <div class="traits">
                <ul class="text">
                  <li><span>Web Developer</span></li>
                  <li><span>Mobile App Developer</span></li>
                  <li><span>Game Developer</span></li>
                  <li><span>UI/UX Designer</span></li>
                </ul>
              </div>
            </div>
            <h1>ABOUT ME</h1>
            <p>As a computer scientist, I bring a diverse skill set encompassing web development, mobile app development, database management, and proficiency in WordPress. With a keen eye for innovation and a solid foundation in programming languages such as Java, Flutter, SQL, HTML, CSS, and JavaScript.
            </p>
          </div>
          <br>
          <div class="r_container">
            <h1>EDUCATIONAL BACKGROUND</h1>
           <h3>MATRICULATION : Computer Science</h3>
            <span>2019</span>
            <br>
            <span>American Lycetuff School</span>
            <br><br>
            <h3>INTERMEDIATE : Computer Science</h3>
            <span>2021</span>
            <br>
            <span>Government College University Lahore</span>
            <br><br>
            <h3>BSCS (Bachelor of Science in Computer Science)</h3>
            <span>At Present (Semester 6)</span>
            <br>
            <span>COMSATS University Islamabad, Lahore Campus</span>
            <br><br>
          </div>
          <div class="r_container">
            <h1>EXPERIENCE & PROJECTS</h1>
            <h3>Internship from CODSOFT (2023)</h3>
            <span>Web Developemnt</span>
            <p>Completed a dynamic web development internship at CODSOFT, gaining hands-on experience in front-end and back-end technologies. Developed responsive and user-friendly websites using HTML, CSS, JavaScript, and backend frameworks.</p>
            <br>
           
            <h3>Library Management System Project</h3>
            <span>Using OOP Concepts</span>
            <p>
              Successfully designed and implemented a comprehensive Library Management System project in Java, applying object-oriented programming (OOP) principles. Demonstrated proficiency in creating modular and efficient code, utilizing encapsulation, inheritance, and polymorphism to enhance system functionality and maintainability.</p>
              <br>
            <h3>Bus Reservation System</h3>
            <span>Using Database Concepts</span>
            <p>
              Developed a Bus Reservation System project with an MS SQL Server database backend, showcasing adeptness in database design and management. Implemented efficient data storage, retrieval, and manipulation, ensuring seamless reservation processes and contributing to a user-friendly experience.</p>
              <br>
              <h3>Fixture Finder: A Mobile App</h3>
              <span>Football Matches Schedule App</span>
            <p>
              Designed and implemented "Fixture Finder," a mobile app developed with Flutter, showcasing a football match schedule feature. Leveraged Flutter's cross-platform capabilities to create a visually appealing and responsive application, demonstrating proficiency in mobile app development and UI design.</p>
          </div>
         
        </div>
         </div> 
    </div>
</body>
</html>